# Node dependencies
node_modules/
npm-debug.log

# Firebase Secret Key (IMPORTANT)
serviceAccountKey.json
f1-stream-live-firebase-adminsdk-fbsvc-*.json

# Temporary Scrape Files
f1_2026.html
scrape.js
parse_f1.js
generate_schedule.js
parse.js
intercept.js
puppeteer_lite.html
intercepted.json
next_data.json
lite.png
live.png
